---
import Layout from '../layouts/Layout.astro';

import Header from '../sections/Header.astro';
import Footer from '../sections/Footer.astro';
import CV from '../components/Cv.astro';

---

<Layout>
	<div class="flex min-h-dvh flex-col">
	<Header />
	<div class="flex flex-1">
		<CV />
	</div>
	<Footer />
	</div>
</Layout>

