---
import Experience from "./Experience.astro";


---

<section class="flex flex-col w-7xl mx-auto px-4 py-16">
    <div class="flex flex-col text-start mb-8">
        <h1 class="text-4xl font-bold">Acerca de mí</h1>
        <span>Resumen de mi trayectoría profesional, competencias, objetivos y aportaciones en los distintos proyectos que he trabajado.</span>
    </div>

    <div>
       <h2 class="font-semibold">Experiencia laboral</h2>

        <div class="flex flex-row w-3xl">
            <Experience />
        </div>
    </div>
</section>