---
import Github from "../assets/icons/Github.astro";
import Linkedin from "../assets/icons/Linkedin.astro";
import Mail from "../assets/icons/Mail.astro";
import Social from "./Social.astro";
---

<section class="flex flex-col md:flex-row items-center justify-between max-w-7xl mx-auto py-40 md:py-16 px-4 gap-8 md:gap-4">

    <div class="flex flex-col w-full md:w-1/2 text-center md:text-left order-2 md:order-1">
        <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold leading-tight text-gray-900 dark:text-white">Desarrollador Full Stack + 5 años de experiencia</h1>
        <p class="text-base md:text-lg text-gray-500 dark:text-gray-400 mt-4">
            Creando experiencias digitales intuitivas y potentes desde el concepto hasta la implementación.
        </p>

        <div class="flex flex-wrap gap-3 justify-center md:justify-start pt-6">
            <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-12
            px-5 bg-blue-500 font-semibold leading-normal tracking-[0.015em] hover:bg-blue-500/90 transition-colors text-white">
                <span>Ver mi trabajo</span>
            </button>
            <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-12
            px-5 bg-gray-300 dark:bg-gray-700 font-semibold leading-normal tracking-[0.015em] hover:bg-gray-300/90 dark:hover:bg-gray-600 transition-colors text-gray-900 dark:text-white">
                <span>Descargar CV</span>
            </button>
        </div>

        <div>
            <nav class="flex flex-wrap gap-4 mt-8 justify-center md:justify-start">
                <Social href="mailto:rurieln@gmail.com">
                  <Mail class="size-4" />
                </Social>

                <Social href="https://linkedin.com/in/ricardourielleon">
                  <Linkedin class="size-4" />
                </Social>

                <Social href="https://github.com/LyonnU">
                    <Github class="size-4" />
                </Social>
              </nav>
        </div>
    </div>

    <div class="flex w-full md:w-1/2 justify-center md:justify-end md:pr-8 order-1 md:order-2">
        <img src="/Images/UrielFoto.webp" alt="Uriel León" class="w-48 h-48 sm:w-64 sm:h-64 md:w-72 md:h-72 lg:w-80 lg:h-80 rounded-full object-cover" />
    </div>

</section>