---
const { Title, Description, Image, Link } = Astro.props;

---
<a href={Link}>
    <div class="flex flex-col group cursor-pointer overflow-hidden rounded-xl bg-white dark:bg-gray-800 shadow-sm transition-all duration-300 hover:shadow-lg hover:-translate-y-1 border border-gray-200 dark:border-gray-700">
        <div class="w-full bg-center bg-no-repeat aspect-4/3 bg-cover rounded-t-xl overflow-hidden">
            <img class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105" 
            src={Image ?? '../src/assets/images/example.jpg'}
            
            >
        </div>
        
        <div class="p-6 flex flex-col grow">
            <h3 class="text-lg font-bold leading-normal text-gray-900 dark:text-white mb-2">{Title}</h3>
            <p class="text-sm font-normal leading-normal text-gray-400 dark:text-gray-400 mb-4 grow">{Description}</p>
            <div class="flex flex-wrap gap-2">
            <span class="text-xs font-medium py-1 px-3 rounded-full bg-blue-700/20 dark:bg-blue-500/20 text-blue-700 dark:text-blue-400">UI Design</span>
            <span class="text-xs font-medium py-1 px-3 rounded-full bg-blue-700/20 dark:bg-blue-500/20 text-blue-700 dark:text-blue-400">Data Viz</span>
            </div>
        </div>
    </div>
</a>