<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1
    text-gray-800 dark:text-gray-200 bg-gray-100 dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-full text-md hover:bg-gray-700 dark:hover:bg-gray-600
    hover:border-gray-700 dark:hover:border-gray-600 hover:text-white transition-colors"
>
  <slot />
</a>