<footer class="pt-10 flex justify-center pb-1">
    <div class="w-full max-w-xl inset-x-auto p-4 md:p-8">

        <nav class="flex justify-between gap-2">
            <a href="/projects">Proyectos</a>
            <a href="/about" >Sobre mí</a>
            <a href="/contact" >Contacto</a>
            <a href="/privacy" >Política de Privacidad</a>
        </nav>

        <div class="text-center">
            <small class="opacity-80">© {new Date().getFullYear()} Uriel León</small>
        </div>
    </div>
</footer>