<footer class="pt-10 pb-1 opacity-50">
    <div class="w-7xl mx-auto px-4 flex flex-col items-center gap-4">
        <nav class="w-full">
            <ul class="flex justify-center items-center gap-8 text-sm">
                <li>
                    <a href="/">
                        Sobre mí
                    </a>
                </li>
                <li>
                    <a href="/">
                        Proyectos
                    </a>
                </li>
                <li>
                    <a href="/">
                        Contaco
                    </a>
                </li>
            </ul>
        </nav>

        <div class="text-center">
            <small class="opacity-80">
                © 2025 Uriel León
            </small>
        </div>
    </div>
</footer>