<header class="flex flex-row items-center justify-between pt-3 max-w-xl mx-auto gap-8">

    <div class="flex flex-row justify-between mx-auto gap-3">
        <img
            class="rounded-full h-6 w-6" 
            src="https://media.licdn.com/dms/image/v2/D4E03AQFtxFr72a8kDg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1711379154424?e=2147483647&v=beta&t=KJKNexjBglZpKnfRMFU0yTCKuTxEWYwv5QXfnb0o-p4" 
            alt ="Uriel León Foto"/>
            <a href="/">Uriel León</a>
    </div>
    

    <nav class="flex gap-5">
        <a href="/">Inicio</a>
        <a href="/">Acerca de mí</a>
        <a href="/">Portafolio</a>
        <a href="/">Contacto</a>
    </nav>
</header>