<main>
    <div class="py-16 px-4">
        <div class="flex flex-col-reverse gap-12">
            <div class="flex flex-col gap-8 text-center">
                <div class="flex flex-col gap-4">
                    <h2>
                        +5 Años de experiencia como Desarrollador Fullstack
                    </h2>
                    <h3>
                        Creando experiencias digitales intuituvas y potentes desde el concepto hasta la implementación.
                    </h3>
                </div>

                <div class="flex flex-wrap gap-3 justify-center">
                    <button>

                    </button>
                    <button>
                        
                    </button>
                </div>

                <div class="w-full flex justify-center">
                    <div class="w-64 h-64 bg-center bg-no-repeat bg-cover rounded-full" 
                    style='background-image: url("https://media.licdn.com/dms/image/v2/D4E03AQFtxFr72a8kDg/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1711379154424?e=2147483647&v=beta&t=KJKNexjBglZpKnfRMFU0yTCKuTxEWYwv5QXfnb0o-p4");'
                    data-alt="Uriel León Fotografía">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</main>